<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>CONSOLIDADO DE COMPESACIONES APROBADOS</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <!--<a routerLink="/">Inicio</a>-->
                        </li>
                        <li><span>/</span></li>
                        <li>Consolidado de compensaciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<br>
<br>
<!-- Employer -->
<div class="employer-area two pb-100">
    <div class="container">
      <!--<button>GENERAR REPORTE</button>-->
      <br>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">EMPRESA</th>
                    <th scope="col">NUMERO ANUNCIO</th>
                    <th scope="col">PARTIDAD ARANCELARIA</th>
                    <th scope="col">VALOR DEL ANUNCIO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Employer -->

<!-- Footer -->
<app-footer-style-two></app-footer-style-two>
<!-- End Footer -->
