table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}


.highlight {
  background-color: #21a212;
  font-weight: bold;
}
