<!-- Login -->
<div class="user-form-area">
    <div class="container-fluid p-0">
        <div class="row m-0 align-items-center">
            <div class="col-lg-6 p-0 col-md-12">
                <div class="user-img">
                    <img src="assets/img/resgister-bg.jpg" alt="User">
                </div>
            </div>

            <div class="col-lg-6 p-0 col-md-12">
                <div class="user-content">
                    <div class="top">
                        <h2>OMEGAN</h2>
                        <h3>Recuperar contraseña</h3>
 
                        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control"
                                    placeholder="Correo electrónico"
                                    [ngClass]="{ 'is-invalid': submitted && myForm['email'].errors }">
                                    <div *ngIf="submitted && myForm['email'].errors" class="invalid-feedback">
                                        <div *ngIf="myForm['email'].errors['required']">Correo electrónico es requerido</div>
                                        <div *ngIf="myForm['email'].errors['pattern']">Correo electrónico invalido</div>
                                    </div>
                            </div>

                            <!--<div class="form-group">
                                <input type="password" formControlName="lastPassword" class="form-control" placeholder="Contraseña antigua"
                                [ngClass]="{ 'is-invalid': submitted && myForm['lastPassword'].errors }">
                                    <div *ngIf="submitted && myForm['lastPassword'].errors" class="invalid-feedback">
                                        <div *ngIf="myForm['lastPassword'].errors['required']">La contraseña antigua es requerida</div>
                                        <div *ngIf="myForm['lastPassword'].errors['required']">La contraseña antigua debe ser mayor 8</div>
                                        <div *ngIf="myForm['lastPassword'].errors['pattern']">La contraseña antigua debe tener al menos 8 caracteres, incluyendo letras mayúsculas, minúsculas, números y caracteres especiales.</div>
                                    </div>
                            </div>

                            <div class="form-group">
                                <input type="password" formControlName="newPassword" class="form-control" placeholder="Contraseña nueva"
                                [ngClass]="{ 'is-invalid': submitted && myForm['newPassword'].errors }">
                                    <div *ngIf="submitted && myForm['newPassword'].errors" class="invalid-feedback">
                                        <div *ngIf="myForm['newPassword'].errors['required']">La contraseña nueva es requerida</div>
                                        <div *ngIf="myForm['newPassword'].errors['required']">La contraseña nueva debe ser mayor 8</div>
                                        <div *ngIf="myForm['newPassword'].errors['pattern']">La contraseña nueva debe tener al menos 8 caracteres, incluyendo letras mayúsculas, minúsculas, números y caracteres especiales.</div>
                                    </div>
                            </div>-->

                            <button type="submit" class="btn">RECUPERAR CONTRASEÑA</button>
                        </form>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login -->