<!-- Navbar -->
<app-navbar-style-three></app-navbar-style-three>
<!-- End Navbar -->



<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="title-item">
                    <h2>COMPENSACIÓN</h2>
                    <ul>
                        <li>
                            <img src="assets/img/home-three/title-img-two.png" alt="Image">
                            <!--<a routerLink="/">Inicio</a>-->
                        </li>
                        <li><span>/</span></li>
                        <li>COMPENSACIÓN</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->

<!-- Dashboard -->
<div class="dashboard-area ptb-100">
    <div class="container">
        <form [formGroup]="announcementForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="profile-content">
                                <div class="profile-content-inner">
                                    <h3>PRODUCTOS</h3>
                                    <ng-container formArrayName="productsCompensations">

                                        <ng-container *ngFor="let producForm of products.controls; let i = index">
                                            <div [formGroup]="producForm">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-12">
                                                        <div class="form-group">
                                                            <label>Partida arancelaria</label>
                                                            <div class="form-group">
                                                                <select id="{{i}}" formControlName="tariffitem"
                                                                    class="select2"
                                                                    (change)="onChange(i,$event.target.value)"
                                                                    style="display: block !important">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-5 col-md-12">
                                                        <div class="form-group">
                                                            <label>Descripción del producto</label>
                                                            <input type="text" class="form-control" [readonly]="true"
                                                                formControlName="description"
                                                                [ngClass]="{ 'is-invalid': submitted && producForm.get('description')?.errors }">
                                                            <div *ngIf="submitted && producForm.get('description')?.errors"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="producForm.get('description')?.errors?.['required']">
                                                                    La descripción es requerido
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>

                                                    <div class="col-lg-2 col-md-12">
                                                        <div class="form-group">
                                                            <label>Kilogramos</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="kilogramsExported"
                                                                [ngClass]="{ 'is-invalid': submitted && producForm.get('kilogramsExported')?.errors }">
                                                            <div *ngIf="submitted && producForm.get('kilogramsExported')?.errors"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="producForm.get('kilogramsExported')?.errors?.['required']">
                                                                    Los kilogramos son requerido
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="col-lg-3 col-md-12">
                                                        <div class="form-group">
                                                            <label>TRM del día de la exportación</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="offsetKilogram"
                                                                [ngClass]="{ 'is-invalid': submitted && producForm.get('offsetKilogram')?.errors }">      
                                                            <div *ngIf="submitted && producForm.get('offsetKilogram')?.errors"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="producForm.get('offsetKilogram')?.errors?.['required']">
                                                                    El valor de TRM en la exportación es requerido
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-3 col-md-12">
                                                        <div class="form-group">
                                                            <label>Valor país</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="valueCountry"
                                                                [ngClass]="{ 'is-invalid': submitted && producForm.get('valueCountry')?.errors }">
                                                            <div *ngIf="submitted && producForm.get('valueCountry')?.errors"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="producForm.get('valueCountry')?.errors?.['required']">
                                                                    El valor de país en la exportación es requerido
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-lg-3 col-md-12">
                                                        <div class="form-group">
                                                            <label>Valor</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="subtotal"
                                                                [ngClass]="{ 'is-invalid': submitted && producForm.get('subtotal')?.errors }">
                                                            <div *ngIf="submitted && producForm.get('subtotal')?.errors"
                                                                class="invalid-feedback">
                                                                <div
                                                                    *ngIf="producForm.get('subtotal')?.errors?.['required']">
                                                                    El SubTotal es requerido
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    
                                                    <div class="col-lg-1 col-md-12">
                                                        <div class="form-group text-center">
                                                            <label>Eliminar</label>
                                                            <a class="text-danger" (click)="eliminarItem(i)" >
                                                                <i class='bx bx-no-entry' style="font-size: 48px;"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>


                                    </ng-container>
                                    <div class="form-group">
                                        <button (click)="addProduct()" class="btn dashboard-btn">Agregar</button>
                                    </div>
                                </div>

                                <div class="profile-content-inner">
                                    <h3>INFORMACIÓN DEL EMBARQUE O DESPACHO</h3>

                                    <div class="row">

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label>País de destino</label>
                                                <select class="select2" id="my-select"
                                                    formControlName="idDestinationCountry"
                                                    style="display: block !important">
                                                </select>                                                
                                                <div *ngIf="this.announcementForm.get('idDestinationCountry')?.errors?.['required']" style="color: #dc3545; font-size: 0.875em;">
                                                        <div>El país es requerido</div> 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label>Fecha de embarque</label>
                                                <input type="date" class="form-control" formControlName="exporterDate"
                                                    [min]="minDateFormat" [max]="maxDateFormat"
                                                    [ngClass]="{ 'is-invalid': submitted && this.announcementForm.get('exporterDate').errors }">
                                                <div *ngIf="submitted && this.announcementForm.get('exporterDate')?.errors"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="this.announcementForm.get('exporterDate')?.errors?.['required']">
                                                        La fecha es requerida</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label>Formato de solicitud de compesación firmado</label>
                                                <input (change)="captureFile($event)" type="file"
                                                    formControlName="signatureRepresentative" accept="application/pdf"
                                                    name="signatureRepresentative"
                                                    [ngClass]="{ 'is-invalid': submitted && this.announcementForm.get('signatureRepresentative').errors }">
                                                <div *ngIf="submitted && this.announcementForm.get('signatureRepresentative')?.errors?.['required']"
                                                    class="invalid-feedback">
                                                    <div>El archivo es requerido</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-12">
                                            <div class="form-group">
                                                <label title="Certificaciones revisor fiscal producto origen nacional y pago cuota fomento">Certificaciones revisor fiscal producto origen</label>
                                                <input (change)="captureFile($event)" type="file"
                                                    formControlName="signatureAuditor" accept="application/pdf"
                                                    name="signatureAuditor"
                                                    [ngClass]="{ 'is-invalid': submitted && this.announcementForm.get('signatureAuditor').errors }">
                                                <div *ngIf="submitted && this.announcementForm.get('signatureAuditor')?.errors?.['required']"
                                                    class="invalid-feedback">
                                                    <div>El archivo es requerido</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <button (click)="dos()" type="submit" (click)="dos()"
                                        class="btn dashboard-btn">Crear Compensación</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- End Dashboard -->

<!-- Footer --><app-footer-style-two></app-footer-style-two>
<!-- End Footer -->